:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0059a6;
  --bs-btn-bg: #0059a6;
  --dark: #000000;
  --light: #ffffff;
  --border: #ebebeb;
  --bs-primary-rgb: 0, 89, 166;
  /* --bs-light-rgb: 255, 255, 255; */
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--dark);
  font-size: 14px;
}
.nav_header a{
  color: var(--light);
  position: relative;
}
.nav_header .nav-link.active{
  color: var(--border);
}
.nav_header .nav-link.active::after{
  content: "";
  position: absolute;
  background-color: var(--light);
  width: 10%;
  left: 0;
  right: 0;
  height: .25rem;
  bottom: -.1rem;
  border-radius: 50px;
}
@media screen and (min-width: 992px){
  .nav_header .nav-link.active::after{
    content: "";
    width: 100%;
    bottom: -54%;
    height: 1rem;
  }
}
.dropdown-menu{
  padding: 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: var(--light);
  border-color: var(--light);
}
.dropdown-menu li{
  margin: 0 !important;
}
.dropdown-item{
  font-size: 14px;
  padding: 0.5rem 1rem;
  color: var(--dark) !important;
}
.dropdown-item:hover{
  background-color: var(--primary);
  color: var(--light) !important;;
}
.dropdown-item i{
  margin-right: 5px;
}
.primary_btn{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--light);
  padding: .75rem 1.25rem;
  line-height: 1;
  transition: all .5s ease-in-out !important;
}
.primary_btn:hover{
  background-color: var(--light);
  border-color: var(--primary);
  color: var(--primary);
}
.features{
  padding: 80px 0;
}
.imginfo_content small{
  font-size: 15px;
  letter-spacing: 1px;
}
.imginfo_content h3{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.imginfo_content .badge{
  font-size: 13px;
  font-weight: 500;
  padding: .35rem 1rem;
  border-radius: 50px;
  display: block;
  width: fit-content;
  margin-bottom: .65rem;
}
.info_card h4{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.info_card{
  margin-bottom: 2rem;
}
.info_card p{
  font-size: 16px;
  color: #999999;
}